package htmxer

templ baseLayout(title string) {
	<html>
		<head>
			<title>HTMXer | { title } </title>
			<script src="/static/htmx.js"></script>
		</head>
		<body>
			@header()
			{ children... }
			@footer()
		</body>
	</html>
}
